
body {
    text-align: center;
    background-color: rgba(207, 190, 166, 0.568);
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family:"lora"; serif
}
h2{
    text-align: center;
    color: rgb(207, 190, 166); 
    font-size: 20px;
    font-weight: 600;
    font-family: "roboto"; serif
}
p{
    color: black;
    font-size: 17px;
}
h1 {
    text-align: center;
    color: rgb(207, 190, 166); 
    font-size: 30px; 
}

ul{
    color: black;
    font-size: 17px;
}

.card-white {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.203);
    padding: 30px;
    margin: 30px auto;
    border-radius: 5px;
    width: 800px;
    text-align: justify;
    }

img {
    border-radius: 50%;
    height: 150px;
    object-fit: cover;
    }

.blue-btn{
    background-color: rgb(59, 59, 237);
    color: white;
    border-radius: 5px;
    padding: 15px 20px;
    margin: 20px;
    text-decoration: none;
    font-size: 20px;
}

blue-btn:hover{
    background-color: black;
}
.list-inline{
    display: flex;
    justify-content: space-evenly  ;
    align-items: center;
    font-size: 50px;  
    width: 200px;

  }

  .list-inline i:hover{
    background-color: black;
  }
  
#social-media{
    
    display: flex;
    justify-content: center;
    align-items: center;
}